language: cpp
compiler: gcc
sudo: false
env:
  global:
  - CCACHE_SIZE=100M
  - CCACHE_TEMPDIR=/tmp/.ccache-temp
  - CCACHE_COMPRESS=1
  - STORAGE_DEST=gs://$BUCKET/$PROJECT/$TRAVIS_BRANCH/
cache:
  apt: true
  directories:
  - depends/built
  - "$HOME/google-cloud-sdk/"
  - "$HOME/.ccache"
matrix:
  fast_finish: true
  include:
    - os: linux
      dist: xenial
      addons:
        apt:
        update: true
          sources:
          - ubuntu-toolchain-r-test
          packages:
          - autoconf
          - automake
          - bsdmainutils
          - build-essential
          - curl
          - pkg-config
          - libc6-dev
          - m4
          - g++-multilib
          - libtool
          - ncurses-dev
          - unzip
          - python
          - zlib1g-dev
          - wget
          - libssl-dev
          - libprotobuf-dev
          - protobuf-compiler
          - libqrencode-dev
          - libdb++-dev
          - software-properties-common
          - libcurl4-openssl-dev
          - google-cloud-sdk
      env: BUILD_SCRIPT="./zcutil/build.sh"
           CACHE_NAME=linux
           PACKAGE_NAME=verus-cli-linux.tar.gz
           PACKAGING_MATRIX="cp src/komodod src/komodo-cli kmd/linux/verus-cli && chmod -R +x kmd/linux/verus-cli/ && cd kmd/linux && tar -czf $PACKAGE_NAME verus-cli"
    - os: linux
      dist: xenial
      addons:
        apt:
        update: true
          sources:
          - ubuntu-toolchain-r-test
          packages:
          - autoconf
          - automake
          - bsdmainutils
          - build-essential
          - curl
          - pkg-config
          - libc6-dev
          - libcurl3-gnutls-dev
          - m4
          - g++-multilib
          - libtool
          - ncurses-dev
          - unzip
          - python
          - zlib1g-dev
          - wget
          - libssl-dev
          - libprotobuf-dev
          - protobuf-compiler
          - libqrencode-dev
          - libdb++-dev
          - software-properties-common
          - libcurl4-openssl-dev
          - google-cloud-sdk
          - mingw-w64
          - wine
      env: RUST_TARGET=x86_64-pc-windows-gnu
           CACHE_NAME=windows
           BUILD_SCRIPT="./zcutil/build-win.sh"
           PACKAGE_NAME=verus-cli-windows.zip
           PACKAGING_MATRIX="cp src/komodod.exe src/komodo-cli.exe src/komodo-tx.exe kmd/windows/verus-cli &&
           cd kmd/windows && zip -r9 $PACKAGE_NAME verus-cli && ls"
    - os: osx
      osx_image: xcode9.3
      env: BUILD_SCRIPT="./zcutil/build-mac.sh -j2 | xcpretty"
           CACHE_NAME=osx
           PACKAGE_NAME=verus-cli-mac.tar.gz
           PACKAGING_MATRIX="cp src/komodod src/komodo-cli kmd/mac/verus-cli &&
                             chmod -R +x kmd/mac/verus-cli/ &&
                             cd kmd/mac &&
                             tar -czf verus-cli-mac.tar.gz verus-cli
install:
- if [ "$TRAVIS_OS" = "osx"]; then brew cask uninstall oclint && brew bundle && gem install xcpretty; fi
- if [ -n "$RUST_TARGET" ]; then curl -sSf https://build.travis-ci.org/files/rustup-init.sh
  | sh -s -- --default-toolchain stable -y && export PATH=$PATH:$HOME/.cargo/bin:$PATH && rustup target add $RUST_TARGET; fi
before_script:
- unset CC; unset CXX
script:
- ./zcutil/fetch-params.sh
- eval "${BUILD_SCRIPT}"
after_script:
- if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then gcloud auth activate-service-account --key-file AUTH_KEY.json && rm AUTH_KEY.json; fi
- if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then eval "${PACKAGING_MATRIX}" &&
  gsutil cp $PACKAGE_NAME $STORAGE_DEST; fi
notifications:
  slack:
    secure: FiVlFhSw5xnDu1Cx2yAo3J7miFCSRyuzR/2+8LKFjdWl5+fyIGvQ9x5vgUg6dWbv3UP9iIMqQuWfotsg8H+NE8pYRZQ0zDVxZ5h9+PA028qGb3OF4TMFNcltP5DGtAZ6AqrMNRZ4ltatPUm5H9ig1bhzjsx+3pqlqQuVXTXPjaUryB5s/fk2CjrsV6zTLfPHiI30jeMjmQrJJLik1vSWF70sB6HkQhvaT6jymkO4Vuh+cja418W1xIgkkoRsOXiZ/JK4hIypFo/sBkmIOprGqoFUahFqJlsBoSrp9iAzkwbDItIqqvNCHTEeN7lj6kK43ZK72E4etjjNc0CXWeleXBJBCj5Prq2lEkQ4NwuDTos3KLyyr2vI7f54xhb5+wjzY9dByHXGuG5UaNz0+uukuJinAdazGaNmmfesv1wg9p3jGa/TLsfHLMcUti875DzkUHnenivP5cXrc6/uuZyyQNq5+Gn/3DA8k0y7d1e23nm3nDjCNfATAn3yu1jieYY2yYI6CYGEXcD+UbP61uG6no+mm/lkQbQosyDfE0sADqGryqXswRste+R0sSVMBQtTipAZOUoYNbEmhN4+L78SSp3zpmgkrIxAw7le8oj6Evp2ofvE2Kvh+Z0MVoEJx6mtZI6hheIFSS38NeUZr/HBfRSpaElOYTN/ZNf8QwThCWo=
before_install:
- if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then openssl aes-256-cbc -K $encrypted_11153c0bb86c_key -iv $encrypted_11153c0bb86c_iv
  -in AUTH_KEY.json.enc -out AUTH_KEY.json -d; fi
- rm AUTH_KEY.json.enc 
